<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 配置打印 SQL 到控制台 以及懒加载 -->
<configuration>

<!--    <settings>-->
<!--        &lt;!&ndash; 打开延迟加载的全局开关 &ndash;&gt;-->
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
<!--        <setting name="lazyLoadingEnabled" value="true"/>-->
<!--        <setting name="aggressiveLazyLoading" value="false"/>-->
<!--        <setting name="mapUnderscoreToCamelCase" value="true"/>-->
<!--    </settings>-->

<!--    &lt;!&ndash;使用外部属性配置文件-->
<!--        resource:指定类路径下的某个属性配置文件&ndash;&gt;-->
<!--    &lt;!&ndash;    <properties resource="jdbc.properties"/>&ndash;&gt;-->

<!--    &lt;!&ndash; 引用自身项目中mybatis的mapper，也就是第四步的文件 &ndash;&gt;-->
<!--    <mappers>-->
<!--&lt;!&ndash;        <package name="com.cykj.mapper"/>&ndash;&gt;-->
<!--        &lt;!&ndash;学生Mapper&ndash;&gt;-->
<!--&lt;!&ndash;        <mapper resource="mapper/UserMapper.xml"/>&ndash;&gt;-->
<!--        &lt;!&ndash;        &lt;!&ndash;考试试卷Mapper&ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;        <mapper resource="mapper/ExamPaperMapper.xml"/>&ndash;&gt;-->
<!--        &lt;!&ndash;        &lt;!&ndash;考试题目Mapper&ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;        <mapper resource="mapper/SubjectMapper.xml"/>&ndash;&gt;-->
<!--        &lt;!&ndash;        &lt;!&ndash;考试答案Mapper&ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;        <mapper resource="mapper/AnswerMapper.xml"/>&ndash;&gt;-->
<!--    </mappers>-->

</configuration>
